DB_HOST=
DB_PORT=

DB_USERNAME=
DB_PASSWORD=

DB_DATABASE=

DB_SSL=true
JWT_ACCESS_SECRET=QQbhjuAiMPmElSWzij4zcuV1jP0HXhqkR023Y1mTMKDglzphEuzgLrUxDxDuxPWZcVsjURq8BPFZvg4JBaYW9MLH8O2QoPBlQ0G71oE9hvM168AUFvUlLcBf6gZwbcvzzIJZN1FXeI0kQ3EqTroRoUisdddDLF4evr8ggs7kgPYzGWYYTpLp5qcMV0kHP346cbmeqCBI3zY8syXOJ21vXf0TacVy2AIAp4DBmzk0bBlK1OyKebomXmf2qAB6xhrk
JWT_ACCESS_EXPIRES_IN=15m